/Exercise_02/build/
/Exercise_03/nbproject/private/
/Exercise_03/build/
/example/nbproject/private/
/example/build/
/example2/nbproject/private/
/JavaApplication23/nbproject/private/
/Exercise_03_v2/nbproject/private/
/Exercise_03_v2/build/
/Exercise_04/nbproject/private/
/Exercise_01_v2/nbproject/private/
/Exercise_01_v2/build/
/Exercise_02_v2/nbproject/private/
/Exercise_02_v2/build/
/Exercise_04/build/
/Exercise_04_example/nbproject/private/
/Exercise_04_example/build/